<section>
  <h2>Menu</h2>
  <p>
    Lorem ipsum dolor<br />
    consectetuer adipiscing<br />
    Aliquam tincidunt mauris<br />
    Vestibulum auctor dapibus neque<br />
    xx€<br />
    <strong>Alternativ</strong><br />
    Morbi in sem quis placerat xx€<br />
    Euismod in, pharetra xx€
  </p>
</section>

<section>
  <h2>Hours</h2>
  <p>{{ opening_hours }}</p>
</section>

<section>
  <h2>Address</h2>
  <p>
    <a href="http://maps.google.com/maps?q={{ street_address }}">{{ street_address }}</a>
  </p>
</section>

<section>
  <h2>Reservations</h2>
  <p>
    {{ phone_number }}<br />
    <a href="mailto:{{ email_address }}">{{ email_address }}</a>
  </p>
</section>
