<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="This is the prototype">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="<%= favicon_website_path %>">
  <link rel="stylesheet" href="<%= stylesheet_website_path %>">

  <%- if user_signed_in? -%>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'precis' %>
  <%- end -%>
</head>

<body>
  <div id="container">
    <header>
      <%= @website.header.html_safe %>
    </header>

    <div id="content">
      <%= @website.content.html_safe %>
    </div>

    <footer>
      <%= @website.footer.html_safe %>
    </footer>
  </div>

  <%- if user_signed_in? -%>
    <%= javascript_include_tag 'jquery.min', 'precis' %>
  <%- end -%>
</body>
</html>
